*{
	box-sizing: border-box; /*added from solution*/

}

h1 {
    margin: 0;
    display: inline-block;
    width: 49%;
}

ul {
	padding: 0;
}

nav > ul >li {
    display: inline-block;
}

body {
    margin: 0;
}

nav{
	background-color: #d4d4d4;
	margin:0px;
	/* height: 90px; */
	width:100%;
	border:0px;
	/* padding-left:5%; */
	/* padding-right:5%; */
	padding: 10px 25px;
}
nav ul {
	/* padding-top:50%; */
	list-style-type: none;
	display: inline-block;
	font-family: "Verdana", serif;
	font-size:20px;
	width: 50%;
	text-align: right;
}
nav ul li.rightnav{
	float:right;
	right:100px;
	position:relative;
	text-indent:10px;
	display:inline;
	
}

nav a{
	text-decoration: none;
}

 main{
 	margin-top:100px;
 	margin-left:100px;
 	text-align: left;
 	font-size:19;
 }
form{
	margin: 20px 0px;
	position: relative;
}	
form input{
 	height:40px;
 	width:400px;
 	display:inline-block;
 	border-radius:5px;
 	color: grey;
}

form input.mag {
	/* display:inline-block; */
	width: 40px;
	px; */
	width:40px;
	/* margin: 10px; */
	height: 40px;
	position: absolute;
	top: -2px;
}

span.choicebar{
	display: inline-block;
	border: solid 1px;
	margin-right: -5px;
	padding: 10px;
	/* border-radius: 5px 0px 0px 5px; */
}

.prev a::before{
	content: "<";
	
}
.next a::after{
	content:">";
}
div .ads{
	color:grey;
	margin-top:50px;

}
div .ads a{
	color:blue;
}

.ads li{
	text-indent:10px;
	display:inline;
	text-decoration: none;
	margin-bottom:10px;
}